<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Add a New Author</h1>
        <a href="/">Homepage</a>
            <br>
        <p>Enter the details of the new author below.</p>
        <form method="post" action="newauthorpost">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <br>DOB: <input type="date" name="dob" placeholder="Date of Birth"><br>
            Address: <input type="text" name="state" placeholder="State">
            <input type="text" name="suburb" placeholder="Suburb">
            <input type="text" name="street" placeholder="Street">
            <input type="text" name="unit" placeholder="Unit">
            <br><input type="number" name="numBooks" placeholder="Number of Books">
            <br><input type="number" name="abn" placeholder="ABN">
            <br>
            <br>
            <button type="submit">Add author</button>
        </form>
    </body>
</html>