<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Change author no. of books</h1>
        <a href="/">Homepage</a>
            <br>
        <p>Enter the new no. of books for the author below.</p>
        <form method="post" action="updateauthorspost">
            <input type="text" name="author_id" placeholder="Author ID">
            <input type="number" name="numBooks" placeholder="New no. of books">
            <button type="submit">Update author's no. of books</button>
        </form>
    </body>
</html>