body{
    background: #dbdada;
}
h1{
    color: #8a7397;
    text-shadow: 2px 2px #5171A5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: #5171A5;
}

table {
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
  }